* {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}
html, body {
    margin: 0;
    padding: 0;
}
html {
    color: #64676A;
    font-family: "Droid Sans", sans-serif;
    font-size: 14px;
    background: #FFF url(../../frontend/images/bg.png) repeat-x top;
}
body { background: url(../../frontend/images/clouds.png) top right no-repeat }
.hidden { display: none }
.btn div > p {
    color: #688200;
    font-size: 20px;
    margin: 5px 0 10px 0;
}
h2 {
    color: #4B4B4B;
    text-shadow: #FFF 1px 1px 0;
}
a {
    color: #294F88;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}
a:hover { text-decoration: underline }
ul { list-style-type: none }
.logo-back {
    bottom: 10px;
    opacity: .6;
    position: absolute;
    right: 40px;
    width: 155px;
}
/* Main Menu */
#main {
    color: #4B4B4B;
    margin: 0;
    padding-top: 50px;
    text-shadow: #FFF 1px 1px 0;
}
.main_menu {
    margin: 0 auto 0 auto;
    height: 450px;
}
.main_menu li {
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 130px;
    margin: 10px;
    width: 350px;
}
.main_menu img {
    float: left;
    margin: 10px;
    padding: 12px;
}
/* Container */
#container { border-top: 1px solid #FFF }
#side {
    background: -webkit-gradient(linear,0 0,0 100%,from(#6FA1D5),to(#3E73AE));
    border-right: 1px solid #3E73AE;
    float: left;
    position: absolute;
    height: 99.9%;
    text-shadow: #2D4B69 1px 1px 0;
    width: 0;
}
#side li {
    border: 1px solid transparent;
    float: left;
    padding: 0 10px 0 0;
    width: 190px;
}
#side li:hover {
    background-color: #243B51;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFF;
}
#side li a {
    background: url(../../frontend/images/arrow-right.gif) right center no-repeat;
    color: #FFF;
    float: left;
    padding: 8px 20px 8px 10px;
    width: 150px;
}
#side li:hover a {
    padding-right: 32px;
    text-decoration: none;
}
.side_menu {
    margin: 0;
    padding: 0;
}
#ajax {
    background: url(../../frontend/images/clouds.png) top right no-repeat;
    display: block;
    position: absolute;
    height: 99.9%;
    width: 73%;
    margin-left: 190px;
    padding: 0 20px;
}
#ajax ul {
    float: left;
    list-style-type: none;
    margin: 20px 10px 30px 0;
    overflow: auto;
    padding: 0 10px 0 20px;
    width: 95%;
    height: 80%;
}
#ajax li {
    background-position: 4px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    height: 32px;
    line-height: 32px;
    padding-left: 32px;
    margin-bottom: 4px;
}
#ajax li:hover {
    color: #2D4B69;
    text-shadow: #EEE 1px 1px 0;
}
footer {
    bottom: 10px;
    font-size: 13px;
    padding-left: 10px;
    position: absolute;
}
.main_menu li img {
    height: 48px;
    width: 48px;
}
.button {
    background: #EFEFEF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DFDFDF));
    border: 1px solid #E4E4E4;
    border-radius: 2px;
    box-shadow: 0 1px 2px #888;
    color: #333;
    padding: 4px 10px;
    position: absolute;
}
.button:hover {
    border-color: #CCC;
    box-shadow: 0 1px 2px #666;
    text-decoration: none;
}
