#!/usr/bin/make -f

export PYBUILD_INSTALL_ARGS_python2 = --install-scripts=to_delete

%:
	dh $@ --with python3,python2 --buildsystem=pybuild

override_dh_install:
	rm -f debian/tmp/usr/bin/lx-control-center
	cp debian/tmp/to_delete/lx-control-center debian/tmp/usr/bin/lx-control-center
	rm -rf debian/tmp/to_delete/
	dh_install --list-missing

override_dh_python3:
	dh_python3 --no-shebang-rewrite

